<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/stylepatern.css">

    <title>Question and Answer</title>
</head>
<body>
    
    <h2> Question And Answer</h2>
    <hr>
    <h3>Question List</h3>
    <% if(showTheMsg){ %>
    <p>
        Author: <%= nome %>
        <%= data %>
    </p>

    <% } else { %>
        <h4> Nenhuma mensagem foi encontrada! </h4>
    <%}%>

    <h2>Product List</h2>
    <% product.forEach(function(product){ %>
        Product : <%= product.name %>
        - Price : <%= product.price %>
        <hr>
    <% }) %>
    
</body>
</html>