<%- include("partials/header.ejs") %>

<!-- Body area -->
<div class="container">
    <h2> Perguntas Feitas</h2>
    <hr>

    <% questiondid.forEach(question => { %>
        
        <div id="card_lt" class="card">
            <div class="card-body">
                <h6> <%= question.title %></h6>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/question/<%= question.id %>">Responder</a>
            </div>
        </div>


    <%}); %>
    <br><a href="./questions" class="btn btn-danger">Fazer uma Pergunta?</a>

</div>

<!-- End area-->
<%- include("partials/footer.ejs") %>